/*Styl ogólny */
body {
    font-family: Arial, sans-serif;
    background-color:#1a1a2e;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Nagłówek */
header {
    background-color: 4834d4;
    text-align: center;
    padding: 20px;
}

/* Pasek menu przyklejony do góry */
nav {
    position: fixed;               /* przykleja pasek do ekranu */
    top: 0;                   
    left: 0;
    width: 100%;                   /* cały ekran */
    background-color: #1a1a2e;   /* ciemne tło */
    z-index: 1000;                 /* nad treścią strony */
    box-shadow: 0 2px 10px rgba(0,0,0,0.7);
}

/* Układ linków w jednej lini */
nav ul {
    display: flex;
    justify-content: flex-start;   /* od lewej */
    gap: 20px;                     /* odstęp między zakładkami */
    list-style: none;
    margin: 0;
    padding: 15px 30px;
}

/* Styl dla zakładek - neon */
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    border: 2px solid #ff4757;
    border-radius: 8px;
    transition: 0.3s;
}

/* Efekt przy hover - neonowy, lekko powiększenie */
nav ul li a:hover {
    background-color: #ff4757;
    color: #111;
    transform: scale(1.05);
}

/* Sekcje */
section {
    padding: 20px;
    border-bottom: 1px solid #fff;
}

/*Tabela rankingowa */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td {
    border: 1px solid #fff;
    padding: 8px;
    text-align: center;
}
th {
    background-color: 4834d4;
}
tr:nth-child(even) {
    background-color: 2f2f4f;
}

/* Stópka */
footer {
    background-color: 130f40;
    padding: 10px;
    text-align: center;
}

/* Przycisk */
button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #ff4757;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #ff6b81;
}

/* Zdjęcie na górze */
.banner {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    display: block;
}

/* Zdjęcie w aktualnościach */
.news-image {
    width: 100%;
    max-height: 250px;
    object-fit: contain;
    display: block;
}

/* Komentarze */
.komentarze-sekcja {
    margin: 50px;
    max-width: 700px;
    padding: 20px;
    background: #111;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 240, 255, 0.7);
    font-family: 'Arial', sans-serif;
}

.komentarze-sekcja h2 {
    color: #00f0ff;
    text-shadow: 0 0 8px rgba(0, 240, 255, 0.7);
    margin-bottom: 20px;
    font-size: 24px;
}

#komentarze {
    background: #1a1a1a;
    border-radius: 10px;
    padding: 15px;
    box-shadow: inset 0 0 10px rgba(0, 240, 255, 0.3);
}
