/*Styl ogólny */
body {
    font-family: Arial, sans-serif;
    background-color:#1a1a2e;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Nagłówek */
header {
    background-color: 4834d4;
    text-align: center;
    padding: 20px;
}

/* Sekcje */
section {
    padding: 10px;
    border-bottom: 1px solid #fff;
}

/*Tabela rankingowa */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td {
    border: 1px solid #fff;
    padding: 12px;
    text-align: center;
}
th {
    background-color: 4834d4;
}
tr:nth-child(even) {
    background-color: 2f2f4f;
}

/* Stópka */
footer {
    background-color: 130f40;
    padding: 10px;
    text-align: center;
}

/* Przycisk */
button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #ff4757;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #ff6b81;
}

/* Zdjęcie na górze */
.banner {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    display: block;
}

/* Zdjęcie w aktualnościach */
.news-image {
    width: 100%;
    max-height: 250px;
    object-fit: contain;
    display: block;
}

/* Newsy */
