/*Styl ogólny */
body {
    font-family: Arial, sans-serif;
    background-color:#1a1a2e;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Pasek menu przyklejony do góry */
nav {
    position: fixed;               /* przykleja pasek do ekranu */
    top: 0;                   
    left: 0;
    width: 100%;                   /* cały ekran */
    background-color: #1a1a2e;   /* ciemne tło */
    z-index: 1000;                 /* nad treścią strony */
    box-shadow: 0 2px 10px rgba(0,0,0,0.7);
}

/* Układ linków w jednej lini */
nav ul {
    display: flex;
    justify-content: flex-start;   /* od lewej */
    gap: 20px;                     /* odstęp między zakładkami */
    list-style: none;
    margin: 0;
    padding: 15px 30px;
}

/* Styl dla zakładek - neon */
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    border: 2px solid #ff4757;
    border-radius: 8px;
    transition: 0.3s;
}

/* Efekt przy hover - neonowy, lekko powiększenie */
nav ul li a:hover {
    background-color: #ff4757;
    color: #111;
    transform: scale(1.05);
}